mixin automation(props = {})
  section.automation&attributes(attributes)
    .container
      .automation__wrapper
        .automation__content
          +title({
            tag: "h2",
            text: "Автоматизация ваших бизнес-процессов"
          })
          +text({
            content: [
              "Мы предоставляем IT услуги без традиционных сложностей ITSM-решений."
            ]
          })
          +details({
            content: [
              {
                summary: "Надежность",
                description: "Мы&nbsp;защищаем ваши интересы, обеспечивая наивысший уровень гарантий. Ваша безопасность для нас превыше всего.</b>"
              },
              {
                summary: "Инновации",
                description: "Мы&nbsp;применяем современные технологии и&nbsp;лучшие методы работы. Ваш бизнес с&nbsp;нашей помощью всегда будет на&nbsp;передовой линии инновационного развития."
              },
              {
                summary: "Индивидуальный подход",
                description: "Каждый клиент для нас особенный. Мы&nbsp;разрабатываем решения, отвечающие именно вашим требованиям, и&nbsp;стараемся создать уникальный опыт взаимодействия."
              }
            ]
          }).automation__advantages
          +text({
            content: [
              "Мы&nbsp;охватываем все этапы, связанные с&nbsp;проектированием, созданием, внедрением и&nbsp;поддержкой IT услуг."
            ]
          })
        .automation__imgs
          .automation__img
            +picture({
              path: "content/automation",
              name: "automation-1",
              format: "jpg",
              width: "235",
              height: "144",
              altText: "Интерфейс системы."
            })
          .automation__img
            +picture({
              path: "content/automation",
              name: "automation-2",
              format: "jpg",
              width: "343",
              height: "122",
              altText: "Интерфейс системы."
            })
          .automation__img
            +picture({
              path: "content/automation",
              name: "automation-3",
              format: "jpg",
              width: "235",
              height: "261",
              altText: "Интерфейс системы."
            })
          .automation__img
            +picture({
              path: "content/automation",
              name: "automation-4",
              format: "jpg",
              width: "296",
              height: "147",
              altText: "Интерфейс системы."
            })

